<span class="loading-indicator" *ngIf="loading">
    <mat-spinner>
    </mat-spinner>
</span>

<div class="container">
    <div class="row">
        <div class="main">
            <img src="/../../assets/ball.PNG">
            <h1>BALATONE</h1>
            <p>Az igazi nyári hangulat helye!</p>
            <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
                <mat-form-field>
                    <mat-label for="email">Email: </mat-label>
                    <input matInput type="text" formControlName="email" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label for="password">Password: </mat-label>
                    <input matInput type="password" formControlName="password"/>
                </mat-form-field>
                <span>
                    <button mat-raised-button color="primary" type="submit">Login</button><br />
                    <button mat-raised-button color="warn" [routerLink]="'/register'">Register</button>
                </span>
            </form>
        </div>
    </div>
</div>