app-list {
    width: 30%;
    float: left;
}

app-map {
    width: 70%;
    float: right;
}

.container {
    background-image: url('./../../../assets/balatonpart.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}