<div *ngIf="loggedIn">
  <mat-sidenav-container>
    <mat-sidenav>
      <app-menu></app-menu>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <div fxHide.gt-xs>
          <button mat-icon-button>
            <mat-icon color="warn">menu</mat-icon>
          </button>
        </div>
        <img src="assets/ball.PNG" class="toolbar-picture">
        <h1>BALATONE</h1>
        <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
          <ul fxLayout fxLayoutGap="10px" class="navigation-items">
            <li><a routerLink="/locations"><mat-icon>home</mat-icon></a></li>
            <li><a routerLink="/login"><mat-icon>logout</mat-icon></a></li>
          </ul>
        </div>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<app-locations></app-locations>

<div *ngIf="!loggedIn">
  <app-login></app-login>
  <!-- <app-register></app-register> -->
  <!-- <app-selected-location></app-selected-location> -->
</div>