$lightBlue: #60C6D2;
$middleBlue: #0081C9;

div {
    margin: 0;
    padding: 30px;
}

h1 {
    font-family: 'Rockwell';
    text-decoration: underline;
    color: $lightBlue;
}

mat-list {
    border-radius: 10px;
}

mat-list-item {
    margin-bottom: 10px;
    word-wrap: break-word;
}

mat-form-field {
    margin-top: 20px;
    width: 70%;
}

.addButton {
    margin-top: 10px;
    margin-left: 20px;  
}

.deleteButton {
    margin-top: -10px;
    margin-left: -15px;
    padding: 0;
}

.comment-container {
    background-color: $middleBlue;
    border-radius: 10px;
}

.name {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 2px;
}

.comment {
    font-size: 20px;
    margin-bottom: 2px;
}

.date {
    font-size: 15px;
    margin-bottom: 2px;
}